* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
img {
  width: 100%;
  object-fit: cover;
}
header {
  width: 100rem;
  height: 60rem;
  margin: auto;
  margin-top: 3rem;
  overflow: hidden;
}
.carousel-slide {
  display: flex;
  width: 100rem;
  height: 100%;
  margin: auto;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transition: transform 0.5s linear;
  -webkit-transition: transform 0.5s linear;
  -moz-transition: transform 0.5s linear;
  -ms-transition: transform 0.5s linear;
  -o-transition: transform 0.5s linear;
}
